/Quantum.Number.Generator/Quantum.Number.Generator/bin
/Quantum.Number.Generator/Quantum.Number.Generator/obj
/Quantum.Number.Generator/Quantum.Library/obj
/Quantum.Number.Generator/Quantum.Library/bin
/Quantum.Number.Generator/Quantum.Number.Generator.UTs/bin
/Quantum.Number.Generator/Quantum.Number.Generator.UTs/obj
Quantum.Number.Generator/.vs/Quantum.Number.Generator/CopilotIndices/17.14.1290.42047/CodeChunks.db
Quantum.Number.Generator/.vs/Quantum.Number.Generator/CopilotIndices/17.14.1290.42047/CodeChunks.db-shm
Quantum.Number.Generator/.vs/**
